<!DOCTYPE html>
<html>

<head>
  <!-- Make site responsive on mobile/tablet -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>KitCamp</title>
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/stylesheets/styles.css" />
  <link rel="stylesheet" href="/stylesheets/main.css" />

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">KITCAMP</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
            <a href="/campgrounds" class="nav-link">Home</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right">
          <% if(!currentUser){ %>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
            <a href="/login" class="nav-link">Login</a>
          </li>
          <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
            <a href="/register" class="nav-link">Sign Up</a>
          </li>
          <% } else { %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle nav-link" class="nav-link" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">Notifications
              <span class="badge badge-light"><%= notifications.length %></span></a>
            <ul class="dropdown-menu">
              <a href="/notifications" class="dropdown-item">View past notifications</a>

              <% notifications.forEach(function(notification) { %>

              <a href="/notifications/<%= notification.id %>" class="dropdown-item">
                <%= notification.username %> created a new campground
              </a>

              <% }); %>
            </ul>
          </li>
          <li>
            <a href="#" class="nav-link">Signed In As <%= currentUser.username %></a>
          </li>
          <li><a href="/logout" class="nav-link">Logout</a></li>
          <% } %>
        </ul>
      </div>

  </nav>

</html>

<div class="container">
  <% if(error && error.length > 0) {%>
  <div class="alert alert-danger" role="alert">
    <%= error %>
  </div>
  <% } %> <% if(success && success.length > 0) {%>
  <div class="alert alert-success" role="alert">
    <%= success %>
  </div>
  <% } %>
</div>
<div class="container">