<%- include("./partials/header") %>

<h1><%= user.username %>'s profile</h1>

<% if(currentUser.following.find(element => element.equals(user.id))) { %>
  <form
  class="delete-form"
  action="/unfollow/<%= user.id %>?_method=DELETE"
  method="POST"
>
  <button class="btn btn-secondary">
    unfollow
  </button>
</form>


<% } else {%>
  <a href="/follow/<%= user.id %>">
    <button class="btn btn-primary">Follow</button></a
  >  
<%} %>


  <%- include("./partials/footer") %>
</form>
